.header {
  min-height: 74px;
  margin-top: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  padding-bottom: 45px;
  max-width: 173px;
  max-height: 33px;
}

@media screen and (min-width: 582px) and (max-width: 880px) {
  .header {
    max-width: 68.75%;
  }
}

@media screen and (max-width: 581px) {
  .header__logo {
    max-width: 126px;
    min-height: 24px;
    padding-left: 8.4%;
    padding-bottom: 32px;
  }

  .header {
    min-height: 56px;
    margin-top: 28px;
  }
}
